#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: white;
}

.largeText {
  color: #007bff;
}

.lastText {
  color: #74e374;
}

.mediumText {
  color: black;
  font-weight: 600;
}

.smallText {
  color: #555555;
  font-style: italic;
}

.field {
  padding: 8px;
  margin: 5px 0;
  border: 2px solid white;
  border-radius: 15px;
  width: 200px;
}

.nextButton {
  background-color: #007bff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nextButton:hover {
  background-color: #0056b3;
}

.cancelButton {
  background-color: #dc3545;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.confirmButton {
  background-color: #5cb85c;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.confirmButton:hover {
  background-color: #449d44;
}

.cancelButton:hover {
  background-color: #c82333;
}

.help {
  color: #555555;
  margin-top: 10px;
}

.logoutButton {
  position: fixed;
  top: 50px;
  right: 50px;
  background-color: #dc3545;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.logoutButton:hover {
  background-color: #c82333;
}

.balanceText {
  font-size: 20px;
  font-family: "Arial", sans-serif;
  color: #333333;
  text-align: center;
}
.transactionCompleteMessage {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.errorText {
  color: #dc3545;
  font-size: 14px;
}

.modalBehind {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalBody {
  position: relative;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transform: translateY(-130%);
}
